.page-header {
  background-image: url('./assets/img/children.jpg');
}
.coppa-page {
  height: 45vh !important;
}

.under-nav {
  margin-top: 5em;
}

.about-pages {
  top: -600px;
}

ul > li {
  text-align: left;
}

.features-5 {
  background-image: url('./assets/img/bg12.jpg');
}

.features-3 {
  background-color: rgba(255, 215, 0, .75);
}
.phone-container {
  position: relative;
  top: 2em;
}
.phone-container img {
  height: 450px;
  width: auto !important;
}
.child-header {
  color: #ff0051;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin: auto;
  text-shadow: 1px 1px 2px #fff;
}
.child-text {
  color: #ff0051 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.description {
  text-shadow: 0.5px 0.5px 1px #fff;
}

.options{
  text-align: center;
  margin: auto;
}
.options button {
  font-size: 2rem;
  font-weight: 500;
  color: white !important;
  margin: 20px;
}

.bd-example {
  width: 95%;
  height: 70%;
  border: #00a2ff 6px solid;
}

.carouselImg {
  display: block;
  width: 100%;
  max-height: 437px;
}
.carousel-caption {
  color: #323232 !important;
  text-shadow: 2px 2px 5px #fff;
}
.carousel-caption > h5 {
  font-size: 2rem;
  font-weight: 500;
}
.carousel-caption > p {
  font-size: 1.25rem;
  font-weight: 400;
}
.carousel .carousel-indicators li {
  background: #ff0051 !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0051' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0051' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }

.high-contrast img {
  opacity: 0.65;
}
.high-contrast p {
  font-weight: 500;
}

.features-3 .info-title {
  color: #ff0051 !important;
  font-family: 'Poppins', sans-serif !important;
}
.features-3 .icon {
  color: #00a2ff !important;
}

.game-list {
  font-size: 1rem;
}