.page-header {
  background-image: url('./assets/img/children.jpg');
}

ul > li {
  text-align: left;
}

.features-5 {
  background-image: url('./assets/img/bg12.jpg');
}

.options{
  text-align: center;
  margin: auto;
}
.options button {
  font-size: 2rem;
  font-weight: 500;
  color: white !important;
  margin: 20px;
}

.bd-example {
  width: 95%;
  height: 70%;
  border: white 6px solid;
}

.carouselImg {
  display: block;
  width: 100%;
  max-height: 437px;
}
.carousel-caption {
  text-shadow: 2px 2px #000;
}
.carousel-caption > h5 {
  font-size: 2rem;
  font-weight: 500;
}
.carousel-caption > p {
  font-size: 1rem;
  font-weight: 400;
}
