#mathjumbotron {
  width: 100%;
  /* background-image:  ; */
}

#mathHeader {
  width: 100%;
  text-align: center;
}

.scoreSummary {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
#mathcardHeader {
  text-align: center;
}

#mathrow {
  width: 100%;
}
